name: K6 Performance Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 12 * * *'

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Setup K6
        uses: grafana/setup-k6-action@v1.1.0

      - name: Run k6 performance test
        run: npm run test

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: k6-test-reports
          path: |
            src/output/index.html
            src/output/dashboard.html

        if: always()
